body > .app {
  position: absolute;
  top: 0; bottom: 0;
  width: 100%;
  overflow: hidden;
}

@import 'header';
@import 'reactwm';
@import 'ranger';
@import 'editor';
@import 'import';
@import 'schemes';
@import 'template';
@import 'templateBrowser';
@import 'colorPicker';
@import 'settings';
