.editor {
  padding: 20px 0 0 20px;

  .palette {
    @extend #clearfix;
    $height: 70px;

    .block {
      display: inline-block;
      width: 170px;
      clear: both;

      .label {
        margin-top: $height/6;
        line-height: $height/2;
        font-size: 25px;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }

    .focus .color,
    .focus .color:hover {
      outline: 3px solid #fff;
    }

    .dark .color {
      color: rgba(#fff, 0.5);
    }

    .light .color {
      color: rgba(#000, 0.5);
    }

    .color {
      cursor: default;

      display: inline-block;
      vertical-align: middle;
      background: #888;
      width: 160px;
      margin: 0 0 10px 5px;
      height: $height;

      text-align: center;
      box-shadow: 0 0 0 1px rgba(#000, 0.2), inset 0 -5px rgba(#000, 0.2);

      &:hover {
        outline: 3px solid #333;
      }
    }
  }

  input {
    @extend #hidden_input;
  }

}
