.editor {
  .palette {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    $height: 80px;

    .block {
      min-width: 50%;

      .label {
        line-height: $height/2;
        font-size: 25px;
        font-weight: $bold;
        text-transform: uppercase;
      }
    }

    .focus .color,
    .focus .color:hover {
      outline: 2px solid #fff;
    }

    .dark .color {
      color: rgba(#fff, 0.5);
    }

    .light .color {
      color: rgba(#000, 0.5);
    }

    .color {
      cursor: default;

      margin: 5px;
      background: red;
      height: $height;

      text-align: center;
      box-shadow: 0 0 0 1px rgba(#000, 0.2), inset 0 -5px rgba(#000, 0.2);

      &:hover {
        outline: 2px solid rgba(#fff, 0.5);
      }
    }
  }

  input {
    @extend #hidden_input;
  }

}
