.editor {
  padding: 20px;

  .palette {
    @extend #clearfix;

    .block {
      display: inline-block;
      width: 50%;
      clear: both;
    }

    label {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      text-align: right;
    }

    .color {
      display: inline-block;
      vertical-align: middle;
      background: #888;
      width: 160px;
      height: 60px;
      box-shadow: inset 0 -5px 0 rgba(#000, 0.2);
      margin: 0 0 10px 5px;
    }
  }

}
