.app > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  // background: #eee;

  h1 {
    line-height: $header_height;
    margin: 0 20px;
    float: left;
  }

  .sections {
    float: right;
  }

  .section {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    line-height: $header_height;
    cursor: pointer;

    &:hover ul {
      display: block;
    }
  }

  ul {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 0;
    padding: 0;
    width: 150px;
  }

  li {
    display: block;
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
    vertical-align: top;
    line-height: 18px;
    box-sizing: border-box;
  }

  .section:hover,
  li:hover {
    background: rgba(#fff, 0.1);
  }

  li:active {
    background: rgba(#fff, 0.05);
  }

}

