.app > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  background: #eee;
  box-shadow: inset 0 -5px 0 rgba(#000, 0.2);

  h1 {
    line-height: $header_height;
    margin: 0 20px;
    font-size: 18px;
    float: left;
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 20px;
  }

  li {
    display: inline-block;
    list-style-type: none;
    line-height: $header_height;
    padding: 0 20px;
    cursor: pointer;
    vertical-align: top;
  }

  .seperator {
    display: inline-block;
    width: 5px;
    background: rgba(#000, 0.2);
    height: $header_height;
  }

  li:hover {
    background: rgba(#fff, 0.1);
    box-shadow: inset 0 -5px 0 rgba(#000, 0.2);
  }

  li:active {
    background: rgba(#fff, 0.05);
  }

}

