.app > header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header_height;
  // background: #eee;

  h1 {
    line-height: $header_height;
    margin: 0 20px;
    float: left;
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 20px;
  }

  li {
    display: inline-block;
    list-style-type: none;
    line-height: $header_height;
    padding: 0 20px;
    cursor: pointer;
    vertical-align: top;
  }

  li:hover {
    background: rgba(#fff, 0.1);
  }

  li:active {
    background: rgba(#fff, 0.05);
  }

}

