.import, .export {
  $pad: 20px;
  @include abs(0, 0, 0, 0);

  select {
    @include abs($pad, $pad, auto, 50%);
  }

  button {
    @include abs($pad, 50%, auto, $pad);
  }

  .textarea {
    @include abs(60px, $pad, $pad, $pad);

    textarea {
      width: 100%;
      height: 100%;
      margin: 0;
      border: 0;
      resize: none;
    }
  }

}
