.import, .export {
  @include abs(0, 0, 0, 0);
  $pad: 20px;

  padding: $pad;

  display: flex;
  flex-direction: column;

  select {
    width: 100%;
    margin-bottom: $pad;
  }

  textarea {
    flex: 1;

    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    resize: none;

    outline: 0;
    border: 1px solid rgba(#000, 0.2);
    box-shadow: 0 0 1px 0 rgba(#fff, 0.2);

    &:focus {
      border-color: rgba(#000, 0.5);
    }
  }

  .buttons {
    display: flex;
    margin-top: $pad;
  }

  .button {
    flex: 1;
    margin-right: $pad;

    &:last-child {
      margin-right: 0;
    }
  }
}
