.import, .export {
  $pad: 20px;
  @include abs(0, 0, 0, 0);

  select {
    @include abs($pad, $pad, auto, 50%);
    outline: 0;
    border: 0;
  }

  button {
    @include abs($pad, 50%, auto, $pad);
    border: 0;
    outline: 0;
  }

  .textarea {
    @include abs(60px, $pad, $pad, $pad);

    textarea {
      width: 100%;
      height: 100%;
      margin: 0;
      border: 0;
      resize: none;

      outline: 0;
      border: 1px solid rgba(#000, 0.2);
      box-shadow: 0 0 1px 0 rgba(#fff, 0.2);

      &:focus {
        border-color: rgba(#000, 0.5);
      }
    }
  }

}
