.ranger {
  cursor: default;
  user-select: none;

  // clearfix
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  // hide input
  input {
    @extend #hidden_input;
  }


  /*
   * PANES
   */

  .pane {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;

    // overridden by css.js
    border-right: 1px solid rgba(#fff, 0.2);
  }

  .parent-pane {
    left: 0;
    width: 30%;
  }

  .active-pane {
    left: 30%;
    width: 30%;
  }

  .contents-pane {
    left: 60%;
    width: 40%;
    border-right: none !important;
  }


  /*
   * ITEM LIST
   */

  .item-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }


  /*
   * FILES AND DIRECTORIES
   */

  .directory {
    font-weight: $bold;
  }

  .directory:after {
    content: '/'
  }

  .pane .active {
    // set by css.js
  }

  &.focus .pane .active {
    // set by css.js
  }

  .file, .directory {
    padding: 5px 10px;

    &:active {
      background: rgba(#000, 0.1);
    }
  }

}
