.ranger {
  $status-height: 30px;

  cursor: default;
  user-select: none;

  // clearfix
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  // hide input
  input {
    @extend #hidden_input;
  }


  /*
   * PANES
   */

  .pane-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $status-height;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .pane {
    position: relative;
    display: inline-block;
    width: 33.33%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
  }

  /*
   * STATUS
   */

  .status {
    position: absolute;
    padding: 0 10px;
    height: $status-height;
    line-height: $status-height;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /*
   * ITEM LIST
   */

  .item-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }


  /*
   * FILES AND DIRECTORIES
   */

  .directory {
    font-weight: $bold;
  }

  .directory:after {
    content: '/'
  }

  .pane .active {
    outline: none;
  }

  &.focus .pane .active {
    outline: 1px solid red;
  }

  .file, .directory {
    padding: 5px 10px;

    &:active {
      background: rgba(#000, 0.1);
    }
  }

}
