$foreground: #fff;

.window-manager {
  position: absolute;
  top: $header_height; bottom: 0;
  width: 100%;
  overflow: hidden;

  .windows {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
  }

  .window {
    $window_header_height: 30px;

    position: absolute;
    background: #888;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(#000, 0.3);

    &.active {
      background: #333;
    }

    header {
      position: relative;
      line-height: $window_header_height;
      cursor: move;

      .title {
        font-size: 14px;
        font-weight: bold;
        text-indent: $window_header_height / 4;
        color: $foreground;
      }
      .close {
        position: absolute;
        right: 0;
        top: 0;
        width: $window_header_height;
        cursor: default;

        &:after {
          display: block;
          content: 'x';
          color: #fff;
          text-align: center;
          width: $window_header_height;
        }

        &:hover {
          background: rgba(#000, 0.3);
        }
      }
    }

    .content {
      $margin: 4px;
      position: absolute;
      top: $window_header_height;
      bottom: $margin;
      left: $margin;
      right: $margin;
      overflow: auto;
    }

    .resize {
      $size: 10px;
      @include abs(auto, auto, 0, 0);

      &.se-resize,
      &.sw-resize {
        width: $size;
        height: $size;
        bottom: 0;
      }

      &.se-resize {
        right: 0;
        cursor: se-resize;
      }

      &.sw-resize {
        left: 0;
        cursor: sw-resize;
      }

      &.e-resize,
      &.w-resize {
        width: $size;
        top: $window_header_height;
        bottom: 0;
        cursor: ew-resize;
      }

      &.e-resize {
        right: 0;
      }

      &.w-resize {
        left: 0;
      }

      &.s-resize {
        height: $size;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: ns-resize;
      }
    }

  }

}

$fade: opacity .1s ease-in;

.windows-enter {
  opacity: 0.01;
  transition: $fade;
}

.windows-enter-active {
  opacity: 1;
}

.windows-leave {
  opacity: 1;
  transition: $fade;
}

.windows-leave-active {
  opacity: 0.01;
}

