.schemes {
  margin: 10px;

  $border: 5px;

  .colors {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: $border $border 0;

    @extend #clearfix;

    div {
      float: left;
      width: 50%;
      height: 12.5%;
      border-bottom: $border solid transparent;
      box-sizing: border-box;
    }
  }

}
