.schemes {
  margin: 0;
  padding: 20px;

  .colors {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    padding: 4px;
    @extend #clearfix;

    div {
      float: left;
      width: 25%;
      height: 25%;
      box-sizing: border-box;
      border: 8px solid #fff;
    }
  }

}
