doctype html
html(lang="en")
  head
    title 16 Colors
    link(rel="stylesheet", href="css/main.css")
    script(src="js/libs.js")
    script(src="js/app.js")
  body.bg-0

    textarea
    button.submit(type="button") Submit

    .screen
      pre.terminal.bg-bg.fg-fg
