doctype html
html(lang='en')
  head
    title terminal.sexy
    link(rel='stylesheet', href='http://brick.a.ssl.fastly.net/fira+sans:400,700:f')
    link(rel='stylesheet', href='css/main.css')
    script(src='js/app.js')

  body

    header.header.background-bg
      h1.logo
        span.foreground-fg terminal
        span.foreground-2 .sexy
      ul.nav.foreground-fg
        li Create
        li Settings
        li Import
        li Export
        li Share

    aside.sidebar.background-bg
      .colors
        .row
          .label.foreground-8 BG
          .color.background-bg
          .label.foreground-8 FG
          .color.background-fg
        .row
          .label.foreground-8 0
          .color.background-0
          .label.foreground-8 8
          .color.background-8
        .row
          .label.foreground-8 1
          .color.background-1
          .label.foreground-8 9
          .color.background-9
        .row
          .label.foreground-8 2
          .color.background-2
          .label.foreground-8 10
          .color.background-10
        .row
          .label.foreground-8 3
          .color.background-3
          .label.foreground-8 11
          .color.background-11
        .row
          .label.foreground-8 4
          .color.background-3
          .label.foreground-8 12
          .color.background-12
        .row
          .label.foreground-8 5
          .color.background-5
          .label.foreground-8 13
          .color.background-13
        .row
          .label.foreground-8 6
          .color.background-6
          .label.foreground-8 14
          .color.background-14
        .row
          .label.foreground-8 7
          .color.background-7
          .label.foreground-8 15
          .color.background-15

    main.terminals.alt-background-bg
      pre.terminal.background-bg.foreground-fg

    .modal-container
      include modals/import
