doctype html
html(lang="en")
  head
    title 16 Colors
    link(rel="stylesheet", href="css/main.css")
  body
    .screen
      .terminal
        each i in [-1, 0, 1, 2, 3, 4, 5, 6, 7]
          div(class="column bg-#{ i }")
            each i in [-1, 0, 8, 1, 9, 2, 10, 3, 11, 4, 12, 5, 13, 6, 14, 7, 15]
              div(class="row fg-#{ i }") ◆◆◆

