
<html>
    <head>
        <title>Name Submission</title>
        <meta name="author" content="Raoul Duke">
        <script type="text/javascript" src="jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="name.css">
    </head>

    <body>
        <h1> Submit your Name here! </h1>
            <h3> We'll get more information on the following pages..</h3>
        <form name="input" action="html_form_action.php" method="get">
            First name &gt; <input type="text" name="FirstName" value="Average" /><br />
            Last name: &gt; <input type="text" name="LastName" value="Redditor" /><br />
            <input type="submit" value="Submit" />
        </form>
        <p class="standard" >Click "Submit" to continue..</p>

        <h4>A nested List:</h4>
        <ul>
          <li>Coffee &amp; Tea</li>
          <li>Tea
            <ul>
            <li>Black tea</li>
            <li>Green tea
              <ul>
              <li>China</li>
              <li>Africa</li>
              </ul> 
