<span class="foreground-81">#include </span><span class="foreground-13">&quot;algostuff.hpp&quot;
</span><span class="foreground-11">using</span> <span class="foreground-121">namespace</span> std;

<span class="foreground-121">bool</span> bothEvenOrOdd (<span class="foreground-121">int</span> elem1, <span class="foreground-121">int</span> elem2)
{
    <span class="foreground-11">return</span> elem1 % <span class="foreground-13">2</span> == elem2 % <span class="foreground-13">2</span>;
}

<span class="foreground-121">int</span> main()
{
    vector&lt;<span class="foreground-121">int</span>&gt; coll1;
    list&lt;<span class="foreground-121">int</span>&gt; coll2;

    <span class="foreground-121">float</span> m = <span class="foreground-13">40.0f</span>;

    INSERT_ELEMENTS(coll1,<span class="foreground-13">1</span>,<span class="foreground-13">7</span>);
    INSERT_ELEMENTS(coll2,<span class="foreground-13">3</span>,<span class="foreground-13">9</span>);

    PRINT_ELEMENTS(coll1,<span class="foreground-13">&quot;coll1: </span><span class="foreground-224">\n</span><span class="foreground-13">&quot;</span>);
    PRINT_ELEMENTS(coll2,<span class="foreground-13">&quot;coll2: </span><span class="foreground-224">\n</span><span class="foreground-13">&quot;</span>);

    <span class="foreground-14">// check whether both collections are equal
</span>    <span class="foreground-11">if</span> (equal (coll1.begin(), coll1.end(),  <span class="foreground-14">// first range
</span>               coll2.begin())) {            <span class="foreground-14">// second range
</span>        cout &lt;&lt; <span class="foreground-13">&quot;coll1 == coll2&quot;</span> &lt;&lt; endl;
    } <span class="foreground-14">/* </span><span class="foreground-0">TODO</span><span class="foreground-14"> Shouldn&#x27;t there be an &#x27;else&#x27; case? */

</span>    <span class="foreground-14">// check for corresponding even and odd elements
</span>    <span class="foreground-11">if</span> (equal (coll1.begin(), coll1.end(),  <span class="foreground-14">// first range
</span>               coll2.begin(),               <span class="foreground-14">// second range

