.button {
  cursor: default;
  line-height: 30px;
  padding: 0 20px;

  -webkit-appearance: none;
  background: #808080;
  outline: 0;
  border: 2px solid red;;

  &:active {
    margin: 1px;
  }

  &:hover {
    background: transparent;
  }
}

select {
  $height: 30px;

  background: transparent;
  outline: 0;
  height: $height;
  line-height: $height;
  padding: 0 20px;
  border: 2px solid red;
}


input {
  background: transparent;
  border: 2px solid red;
  padding: 0 10px;
  line-height: $line-height;
  outline: 0;
  box-sizing: border-box;

  &:focus {
    // change border color
  }
}
