#scroll {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  border: 0;

  // override by css.js
  // background-color: rgba(#fff, 0.3);
}
