$font-size: 14px;
$font-family: 'fira mono', monospace;
$font: $font-size $font-family;

$bold: 500;
$line-height: $font-size * 1.5;

body {
  font: $font;
  line-height: $line-height;
}

textarea, pre {
  font: $font;
}

h1, h2, h3, h4, h5, h6 {
  font: $font;
  font-weight: $bold;
}
