
 <span class="foreground-6">var</span> ralpha = <span class="foreground-1">/alpha\([^)]*\)/i</span>,
    ropacity = <span class="foreground-1">/opacity=([^)]*)/</span>,
    <span class="foreground-4">// fixed for IE9, see #8346
</span>    rupper = <span class="foreground-1">/([A-Z]|^ms)/g</span>,
    rnumpx = <span class="foreground-1">/^-?\d+(?:px)?$/i</span>,
    rnum = <span class="foreground-1">/^-?\d/</span>,
    rrelNum = <span class="foreground-1">/^([\-+])=([\-+.\de]+)/</span>,

    cssShow = <span class="foreground-6">{</span> position: <span class="foreground-1">&quot;absolute&quot;</span>, visibility: <span class="foreground-1">&quot;hidden&quot;</span>, display: <span class="foreground-1">&quot;block&quot;</span> <span class="foreground-6">}</span>,
    cssWidth = <span class="foreground-6">[</span> <span class="foreground-1">&quot;Left&quot;</span>, <span class="foreground-1">&quot;Right&quot;</span> <span class="foreground-6">]</span>,
    cssHeight = <span class="foreground-6">[</span> <span class="foreground-1">&quot;Top&quot;</span>, <span class="foreground-1">&quot;Bottom&quot;</span> <span class="foreground-6">]</span>,
    curCSS,

    getComputedStyle,
    currentStyle;

jQuery.fn.css = <span class="foreground-6">function</span>( name, value ) <span class="foreground-6">{
</span>    <span class="foreground-4">// Setting &#x27;undefined&#x27; is a no-op
</span>    <span class="foreground-130">if</span> ( <span class="foreground-6">arguments</span>.length === 2 &amp;&amp; value === <span class="foreground-130">undefined</span> ) <span class="foreground-6">{
</span>        <span class="foreground-130">return</span> <span class="foreground-6">this</span>;
    <span class="foreground-6">}

</span>    <span class="foreground-130">return</span> jQuery.access( <span class="foreground-6">this</span>, name, value, <span class="foreground-1">true</span>, <span class="foreground-6">function</span>( elem, name, value ) <span class="foreground-6">{
</span>        <span class="foreground-130">return</span> value !== <span class="foreground-130">undefined</span> ?
            jQuery.style( elem, name, value ) :
            jQuery.css( elem, name );
    <span class="foreground-6">}</span>);
<span class="foreground-6">}</span>;

