<span class="foreground-130">\documentclass</span><span class="foreground-5">[</span><span class="foreground-1">12pt</span><span class="foreground-5">]{article}

</span><span class="foreground-130">\usepackage</span><span class="foreground-5">[</span><span class="foreground-1">option1, option2</span><span class="foreground-5">]{package}

\begin{document}

</span><span class="foreground-4">% Here is a comment. Commands in tex are called by backslash: \command 
</span><span class="foreground-5">\section{</span>Section head<span class="foreground-5">}
\subsection{</span>Subsection head<span class="foreground-5">}

</span>This is text, and the following is in-line mathematics:
<span class="foreground-5">$</span><span class="foreground-2">\mathrm</span><span class="foreground-5">{e}</span><span class="foreground-130">^</span><span class="foreground-5">{-</span><span class="foreground-130">\pi\matrhm</span><span class="foreground-5">{i}} </span><span class="foreground-130">=</span><span class="foreground-5"> -1$</span>.
A display-style equation is shown below:

<span class="foreground-130">\begin</span><span class="foreground-5">{equation}
  E </span><span class="foreground-130">=</span><span class="foreground-5"> mc</span><span class="foreground-130">^</span><span class="foreground-5">2
</span><span class="foreground-130">\end</span><span class="foreground-5">{equation}

\end{document}

