<span class="foreground-130">def</span> <span class="foreground-6">dump_args</span>(func):
    <span class="foreground-1">&quot;This decorator dumps out the arguments passed to a function before calling it&quot;
</span>    argnames = func.func_code.co_varnames[:func.func_code.co_argcount]
    fname = func.func_name
    <span class="foreground-130">def</span> <span class="foreground-6">echo_func</span>(*args,**kwargs):
        <span class="foreground-6">print</span> fname, <span class="foreground-1">&quot;:&quot;</span>, <span class="foreground-1">&#x27;, &#x27;</span>.join(
            <span class="foreground-1">&#x27;%s=%r&#x27;</span> % entry
            <span class="foreground-130">for</span> entry <span class="foreground-130">in</span> <span class="foreground-6">zip</span>(argnames,args) + kwargs.items())
        <span class="foreground-130">return</span> func(*args, **kwargs)
    <span class="foreground-130">return</span> echo_func

<span class="foreground-5">@</span><span class="foreground-6">dump_args
</span><span class="foreground-130">def</span> <span class="foreground-6">f1</span>(a,b,c):
    <span class="foreground-6">print</span> a + b + c

f1(<span class="foreground-1">1</span>, <span class="foreground-1">2</span>, <span class="foreground-1">3</span>)

<span class="foreground-130">def</span> <span class="foreground-6">precondition</span>(precondition, use_conditions=DEFAULT_ON):
    <span class="foreground-130">return</span> conditions(precondition, <span class="foreground-6">None</span>, use_conditions)

<span class="foreground-130">def</span> <span class="foreground-6">postcondition</span>(postcondition, use_conditions=DEFAULT_ON):
    <span class="foreground-130">return</span> conditions(<span class="foreground-6">None</span>, postcondition, use_conditions)

<span class="foreground-130">class</span> <span class="foreground-6">conditions</span>(<span class="foreground-6">object</span>):
    __slots__ = (<span class="foreground-1">&#x27;__precondition&#x27;</span>, <span class="foreground-1">&#x27;__postcondition&#x27;</span>)

    <span class="foreground-130">def</span> <span class="foreground-6">__init__</span>(self, pre, post, use_conditions=DEFAULT_ON):
        <span class="foreground-130">if</span> <span class="foreground-130">not</span> use_conditions:
            pre, post = <span class="foreground-6">None</span>, <span class="foreground-6">None

