<span class="foreground-5">def</span> <span class="foreground-6">power</span>(x,n)
  result = <span class="foreground-1">1
</span>  <span class="foreground-130">while</span> n.nonzero?
    <span class="foreground-130">if</span> n[<span class="foreground-1">0</span>].nonzero?
      result *= x
      n -= <span class="foreground-1">1
</span>    <span class="foreground-130">end
</span>    x *= x
    n /= <span class="foreground-1">2
</span>  <span class="foreground-130">end
</span>  <span class="foreground-130">return</span> result
<span class="foreground-5">end

def</span> <span class="foreground-6">f</span>(x)
  <span class="foreground-2">Math</span>.sqrt(x.abs) + <span class="foreground-1">5</span>*x ** <span class="foreground-1">3
</span><span class="foreground-5">end

</span>(<span class="foreground-1">0</span>...<span class="foreground-1">11</span>).collect{ gets.to_i }.reverse.each <span class="foreground-130">do</span> |<span class="foreground-6">x</span>|
  y = f(x)
  puts <span class="foreground-5">&quot;#{</span>x<span class="foreground-5">}</span><span class="foreground-1"> </span><span class="foreground-5">#{</span>y.infinite? ? <span class="foreground-5">&#x27;</span><span class="foreground-1">TOO LARGE</span><span class="foreground-5">&#x27;</span> : y<span class="foreground-5">}&quot;
</span><span class="foreground-130">end
</span><span class="foreground-4"># Map color names to short hex
</span><span class="foreground-2">COLORS</span> = { <span class="foreground-1">:black</span>   =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">000</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:red</span>     =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">f00</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:green</span>   =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">0f0</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:yellow</span>  =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">ff0</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:blue</span>    =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">00f</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:magenta</span> =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">f0f</span><span class="foreground-5">&quot;</span>,
           <span class="foreground-1">:cyan</span>    =&gt; <span class="foreground-5">&quot;</span><span class="foreground-1">0ff</span><span class="foreground-5">&quot;</span>,

